<style>
    /*导航*/
    .BlogAnchor {
        position: fixed;
        background: #f4f7f9;
        padding: 10px;
        line-height: 180%;
        box-shadow: 0px 0px 5px #C2C2C2;
    }

    .BlogAnchor p {
        font-size: 18px;
        color: #15a230;
        margin-bottom: 0.3em;
    }

    .BlogAnchor .AnchorContent {
        padding: 5px 0px;
    }

    .BlogAnchor li {
        text-indent: 20px;
        font-size: 14px;
    }

    #AnchorContentToggle {
        font-size: 13px;
        font-weight: normal;
        color: #FFF;
        display: inline-block;
        line-height: 20px;
        background: #5cc26f;
        font-style: normal;
        padding: 1px 8px;
        margin-right: 10px;
    }

    .BlogAnchor a:hover {
        color: #5cc26f;
    }

    .BlogAnchor a {
        text-decoration: none;
    }
</style>

<div class="panel panel-default BlogAnchor">
    <p>
        <b id="AnchorContentToggle" title="收起" style="cursor:pointer;">文章导航[-]</b>
    </p>
    <div class="AnchorContent" id="AnchorContent"></div>
</div>

<script>
    //在文章中查找title并填充到div AnchorContent中
    $(".article-content").find("h2,h3,h4,h5,h6").each(function (i, item) {
        var tag = $(item).get(0).localName;
        $(item).attr("id", "wow" + i);
        $("#AnchorContent").append(
                '<li style="list-style:none;overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;width:100%">' +
                '<a class="new' + tag + ' anchor-link" href="#wow' + i + '">' + (i + 1) +
                " · " +
                $(this).text() + '</a></li>');
        $(".newh2").css("margin-left", 0);
        $(".newh3").css("margin-left", 20);
        $(".newh4").css("margin-left", 40);
        $(".newh5").css("margin-left", 60);
        $(".newh6").css("margin-left", 80);
    });
    $("#AnchorContentToggle").click(function () {
        var text = $(this).html();
        if (text == "文章导航[-]") {
            $(this).html("文章导航[+]");
            $(this).attr({"title": "展开"});
        } else {
            $(this).html("文章导航[-]");
            $(this).attr({"title": "收起"});
        }
        $("#AnchorContent").toggle();
    });
</script>