<div id="liucl-auth-resetpassword">
    <div class="panel panel-liucl-auth">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <form id="liucl-auth-resetpassword-form" class="form-horizontal clearfix" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="liucl-auth-resetpassword-username" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="liucl-auth-resetpassword-password1"
                           placeholder="新密码">
                </div>
            </div>
            <div class="form-group">
                <label for="liucl-auth-resetpassword-email" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="liucl-auth-resetpassword-password2"
                           placeholder="确认密码">
                </div>
            </div>
            <br/>

            <button id="liucl-auth-resetpassword-button" type="submit" class="btn btn-liucl-auth pull-right">提交</button>
        </form>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $('#liucl-auth-resetpassword-form').submit(function () {
        $.ajax({
            type:"POST",
            url:"/usercontrol/resetpassword",
            data: {
                "uidb64": "{{uidb64}}",
                "token": "{{token}}",
                "new_password1": $("#liucl-auth-resetpassword-password1").val(),
                "new_password2": $("#liucl-auth-resetpassword-password2").val(),
            },
            dataType:'json',
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                var errors = data["errors"];
                if(errors.length==0){
                    alert("密码设置成功!\n");
                    location.replace("/login");
                }
                else{
                    //alert(errors);
                    var html = "<div class=\"alert alert-danger\">"
                    for (var key in errors){
                        html += errors[key]+"<br/>";
                    }
                    html += "</div>";
                    $("#liucl-auth-resetpassword .panel-heading").after(html);
                }
                
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        })
        return false;
    });

    $("#liucl-auth-resetpassword-button").click(function () {
        $("#liucl-auth-resetpassword .alert").remove();
    }); 
</script>
