{% extends "./blog/base.html" %}

{% block main %}

    {% url 'category-detail-view' article.category.name as category_url %}

    <div class="row">
        <div id="vmaig-content" class="col-md-8 col-lg-9">
            <div id="article-page" class="well">
                <ol class="breadcrumb">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="{{ category_url }}">{{ article.category }}</a></li>
                    <li class="hidden-xs"><a><span
                            class="glyphicon glyphicon-calendar"></span> {{ article.pub_time|date:"Y-m-d" }}</a></li>
                    <li><a>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {{ article.view_times }}
                    </a></li>
                    <li class="pull-right"><a>
                        <span class="glyphicon glyphicon-user"></span> {{ article.author }}
                    </a></li>
                </ol>

                <div id="article">
                    <div class="article-title">
                        <h1>{{ article.title }}</h1>
                    </div>
                    <div class="article-tags">
                        {% for tag in article.get_tags %}
                            <a href="{% url 'tag-detail-view' tag %}">
                                <span class="label label-vmaig-{{ forloop.counter }} btn">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <hr/>
                    <div class="article-content">
                        {% autoescape off %}
                            {{ article.content }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>

            <!--评论框 -->
            {% include "./vmaig_comments/vmaig_comments.html" %}

        </div>

        <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">

            {% include "./blog/widgets/markdownnav.html" %}
            {#        {% include "./blog/widgets/search.html"%}#}
            {#        {% include "./blog/widgets/hotest_posts.html"%}#}
            {#        {% include "./vmaig_comments/latest_comments.html"%}#}

            <div id="gotop" class="toTop hidden-sm" style="display: none">
                <a id="back-to-top" class="btn btn-default btn-lg" href="#vmaig">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <script>
                    ///* 回到顶部 */
                    backTop = function (btnId) {
                        var btn = document.getElementById(btnId);
                        var d = document.documentElement;
                        var b = document.body;
                        screen.onscroll = set;
                        btn.onclick = function () {
                            btn.style.display = "none";
                            window.onscroll = null;
                            this.timer = setInterval(function () {
                                d.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                                b.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                                if ((d.scrollTop + b.scrollTop) == 0) clearInterval(btn.timer, window.onscroll = set);
                            }, 10);
                        };
                        function set() {
                            console.log('123')
                            btn.style.display = (d.scrollTop + b.scrollTop > 100) ? 'block' : "none";
                        }
                    };
                    backTop('gotop');

                    (new SidebarFollow()).init({
                        element: jQuery('.row'),
                        distanceToTop: 0
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style type="text/css">
        #article {
            font-size: 14px;
            color: #000;
        }

        blockquote {
            font-size: 14px;
        }
    </style>
{% endblock %}
