{% url 'forgetpassword-view' as forgetpassword_url %}
{% url 'register-view' as register_url %}

<div id="login">
    <div class="panel panel-liucl-auth">
        <div class="panel-heading">
            <h3 class="panel-title">请登陆</h3>
        </div>
        <form id="login-form" class="clearfix" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input id="login-username" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input id="login-password" type="password" class="form-control">
                </div>
            </div>
            <div id="forgetpassword"><a href="{{ forgetpassword_url }}">忘记密码?</a></div>
            <button id="login-button" type="submit" class="btn btn-liucl-auth pull-left">登录</button>
            <a href="{{ register_url }}" type="button" class="btn btn-liucl-auth pull-right">注册</a>
        </form>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $('#login-form').submit(function () {
        $.ajax({
            type:"POST",
            url:"/usercontrol/login",
            data: {
                "username": $("#login-username").val(),
                "password": $("#login-password").val()
            },
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                const errors = data["errors"];
                if(errors.length===0){
                    location.replace("/"); 
                }
                else{
                    //alert(errors);
                    let str = "";
                    for (const key in errors){
                        str += errors[key]+"\n";
                    }
                    alert(str);
                }
                
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    }); 
</script>
